.train-finder{
text-align: center;
}

.train-from{
	padding:10px;
	display: inline-block;
}

.train-from label,input{
	padding: 5px;
	border-radius: 5px;
	font-weight: bolder; 
}

.train-from input{
	outline: none!important
}

.train-from input[type=submit]{
	color:white;
	background-color:#222222
}


.table-holder table{
	margin-left: auto;
	margin-right: auto;
	overflow: scroll;
	margin-top: 50px;
}

.table-none{
	display: none
}