/*------------------------------------- Main Section --------------------------------------------------------------*/

.Section{
	height: 95%;
	display:flex;
	flex-flow: row
}

/*----------------------------------------------Nav Bar------------------------------------------------------------*/

.Nav-Show{
	height: 100%;
	width: 20%;
	display: flex;
	flex-flow: column;
	transition: width 0.5s
	
}

.Nav-Hide{
	width: 0px;
	height: 100%;
	transition: width 0.5s
}

/*------------------------------------- Nav Content -------------------------------------------------------------*/

.NavContent{
	height: 95%;
	margin:5px;
}

/*--------------------------------------------- Icon -------------------------------------------------------- */

.Icon-Hide{
	display: none;
}

.Icon-Show{
	display: inline;
	width: 5%;
	height: 100%;
	cursor: pointer;
}

/*--------------------------------------------- Content -----------------------------------------------------------*/

.Content-Show{
	background-color: yellow;
	height: 100%;
	width: 90%;
	transition: width 0.5s;
}

.Content-Hide{
	background-color: yellow;
	height: 100%;
	width: 100%;
	transition: width 0.5s
}

/*---------------------------------------- Content Header ---------------------------------------------------------*/

.Content-Header{
	height: 5%;
	width: 100%;
	padding: 10px;
	background-color: red
}



/*----------------------------------------- Content Section -------------------------------------------------------*/

.Content-Section{
	height: 90%;
	width: 100%;
}